<div class="new-message">
  <div>
    <h3 id="new-message">New Message</h3>
    <form (ngSubmit)="onSubmit()" #mailForm="ngForm">
      <div>
        <input class="new-info" type="email" placeholder="Recipient" required [(ngModel)]="mail.receiver" name="receiver">
      </div>
      <div>
        <input class="new-info" type="text" placeholder="Subject" required [(ngModel)]="mail.subject" name="subject">
      </div>
      <div>
        <editor apiKey="tz1htr324izw8bi4jz9r142ly0i82digmczsfb03toxfhwq0" [(ngModel)]="mail.body" name="body" [init]="{menubar:false, plugins: ['advlist lists link image directionality searchreplace visualblocks visualchars media table contextmenu paste textcolor colorpicker pagebreak code'], toolbar: 'copy undo redo formatselect | bold italic strikethrough forecolor backcolor | link | alignleft aligncenter alignright alignjustify | numlist bullist outdent indent | removeformat hr pagebreak code'}"></editor>
      </div>
      <div id="new-footer">
        <button [disabled]="!mailForm.form.valid" type="submit" class="button" id="send">Send</button>
        <button type="reset" (mousedown)="onCancel()" class="button" id="cancel">Cancel</button>
      </div>
    </form>
  </div>
</div>
