{{ define "title" }}File Browser{{ end }}

{{ define "content" }}

<div class="container">
    <h1>File Browser:</h1>
    <br />
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Filename</th>
        </tr>
      </thead>
      <tbody>
           {{ range $key, $value := .Files }}
           <tr><td>{{ $key }}</td></tr>
           {{ end }}
      </tbody>
    </table>

    <form method="POST" id='form'>
        <label class="control-label" for="filename">File Name</label>
        <input class="form-control form-control-lg" name="filename" id="filename" type="text" placeholder="filename">
       
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

    {{ if not (eq .Filename "") }} 
    <div id="file" class="modal" tabindex="-1" role="dialog" style="display: inline">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ .Filename }}</h5>
                    <button type="button" class="close" onclick='document.querySelector("#file").remove()' aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{{ .Content }}</p>
                </div>
            </div>
        </div>
    </div>
    {{ end }}
</div>


<script>
    $( "form" ).submit(function( event ) {
        const filename = $('#filename').val().trim();

        if (filename.endsWith(".private")) {
            alert("File is private!");
            event.preventDefault();
            return;
        }
    });
</script>
{{ end }}
