<html>
  <head>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script>
      window.addEventListener("load", function(evt) {
        var urlParams = new URLSearchParams(window.location.search);
        var output = document.getElementById("output");
        var input = document.getElementById("input");
        var host = document.getElementById("host");
        var code = document.getElementById("code");
        var ws;
        var print = function(message) {
          output.innerHTML += message;
        };
        var printblob = async function(blob) {
          text = await new Response(blob).text();
          print(text);
        }
        if (urlParams.has('host')) {
          host.value = urlParams.get('host');
          code.textContent = code.textContent.replace("HOST", urlParams.get('host'));
        }

        document.getElementById("open").onclick = function(evt) {
          if (ws) {
            return false;
          }
          ws = new WebSocket("wss://" + host.value + "/ws");
          ws.onopen = function(evt) {
            print("Connecting to " + host.value + "...\n");
          }
          ws.onclose = function(evt) {
            print("Closing connection...\n");
            ws = null;
          }
          ws.onmessage = function(evt) {
            printblob(evt.data);
          }
          ws.onerror = function(evt) {
            print("ERROR: " + evt.data + "\n");
          }
          return false;
        };
        document.getElementById("send").onclick = function(evt) {
          if (!ws) {
            return false;
          }
          print(input.value + "\n");
          ws.send(input.value);
          return false;
        };
        document.getElementById("close").onclick = function(evt) {
          if (!ws) {
            return false;
          }
          ws.close();
          return false;
        };
      });
    </script>
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Geegle Corp CLI App</span>
        </div>
      </header>
      <main class="mdl-layout__content">
        <div class="page-content">
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" style="position:relative; max-width: 860px; margin-top: 40px;">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text">
                <h4>Connection</h4>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="host" value="quicksort.corp.geegle.org">
                  <label class="mdl-textfield__label" for="host">Host</label>
                </div>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="open">Connect</button>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" id="close">Disconnect</button>
              </div>
            </div>
          </section>
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" style="position:relative; max-width: 860px; margin-top: 40px;">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text">
                <h4>Message</h4>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="input" value="Hello World!">
                  <label class="mdl-textfield__label" for="message">Message</label>
                </div>
                <p>
                You can change the message and send multiple times.
                Press "Send" to send the message to server.
                </p>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="send">Send</button>
              </div>
            </div>
          </section>
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" style="position:relative; max-width: 860px; margin-top: 40px;">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text">
                <h4>Console</h4>
                <pre id="output" style="background-color: #222; color: white; min-height: 200px; max-height: 600px; overflow: auto;"></pre>
              </div>
            </div>
          </section>
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" style="position:relative; max-width: 860px; margin-top: 40px;">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text">
                <h4>Local Client</h4>
                <p>
                Alternativity, If you would like to connect via your own scripts, you can download this <a href="/cli-relay">program</a> and use it in the following way.

                <pre id="code">
            python code:

            from pwn import *
            p = process(["./cli-relay", "UBERPROXY COOKIE", "HOST"])

            p.interactive()
                </pre>
                </p>
              </div>
            </div>
          </section>
        </div>
      </main>
    </div>
  </body>
</html>

