{% extends "base.html" %}
{% block content %}
<br>
<h1 id="paste_title">{{ title|safe }}</h1>
<div class="row">
  <iframe id="ps" class="col-lg-12 col-md-12 col-sm-12" style="height: 80vh;" sandbox="allow-same-origin"></iframe>
</div>
<script src="/static/purify.min.js" nonce="{{ csp_nonce() }}"></script>
<script nonce="{{ csp_nonce() }}">
  var content = atob("{{ content }}");
  try {
    content = DOMPurify.sanitize(content, {SAFE_FOR_JQUERY: true}).toString();
  } catch (err) {
    try {
      $.ajax({
        type: "POST",
        url: "https://bugreport.corp.geegle.org/api/bugreport/js",
        data: JSON.stringify(err, Object.getOwnPropertyNames(err)),
        success: null,
        contentType: "application/json"
      });
    } catch (err) {
      console.log(err);
    }
  }
  $("#ps").attr("srcdoc", content);
</script>
<script src="/static/feedback.js" nonce="{{ csp_nonce() }}"></script>

{% endblock %}
