<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Geegle Admin</title>
        <meta http-equiv="pragma" content="no-cache"/>
        <meta http-equiv="Expires" content="-1"/>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
        <link rel='stylesheet' href='/static/css/styles.css'/>
    </head>
    <body id="gsr">
        <table width="100%" class="fullheight" cellspacing="0" cellpadding="10">
            <tr class="row1">
                <td width="120px">
                    <a href="/">
                        <img width="120" src="/static/img/geegle.png">
                    </a>
                </td>
                <td>
                    GEEGLE CONFIDENTIAL
                </td>
            </tr>
            <tr class="row2">
                <td>&nbsp;</td>
                <td>
                    <table border="0">
                        <tr>
                            <td width="70">
                                <a class="glinks1" href="#">Admin</a>
                            </td>
                            <td width="140">
                                <a class="glinks" href="/flag">
                                    Flag
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="row3">
                <td>&nbsp;</td>
                <td>
                    <div class="resdiv">
                        <div>BE GEEGLY: DON'T SHARE INTERNAL INFO WITH NON-GEEGLERS.</div>
                        <div>
                            <h2>Spiderman</h2>
                            <form action="/admin/crawl" method="POST">
                                <input type="text" name="url" placeholder="http://example.com">
                                <br>
                                <input type="submit" value="Crawl and index this website">
                            </form>
                        </div>
                        <div>
                            <h2>Goatlet Info</h2>
                            The server is working hard to teleport goat. Please appreciate it.<br>
                            <p>Serving at 0.0.0.0:80</p>
                            Docs (unrelated to getting flag, but fun):<br>
                            For more information, see <a href="https://storage.googleapis.com/pub-tools-public-publication-data/pdf/43438.pdf">Goatlet</a><br>
                            If too many goats are teleported, see <a href="https://bugs.chromium.org/p/chromium/issues/detail?id=31482">b/31482</a>.
                        </div>
                    </div>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr class="row4">
                <td>&nbsp;</td>
                <td>
                    <div class="footertext1">Be evil. Hack this site.</div>
                    <br>
                    <div class="footertext2">Powered by Geegle</div>
                    <br>
                </td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </body>
</html>

