{{ define "title" }}Guest@Geegle{{ end }}

{{ define "content" }}
<div class="container">
    <div class="row">
        <img src="/static/geegle.png" class= "rounded mx-auto d-block"  style="max-width: 100%;height:auto">
    </div>
    <form method="POST">
        <label class="control-label" for="guestname">Guest name</label>
        <input class="form-control form-control-lg" id="guestname" type="text" placeholder="Guest name">

        <label class="control-label" for="hostname">Host name</label>
        <input class="form-control form-control-lg" id="hostname" type="text" readonly value="adamt">

        <label class="control-label" for="email">Email</label>
        <input class="form-control form-control-lg" id="email" type="text" placeholder="Email">

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{{ end }}
