{{ define "title" }}Guest@Geegle{{ end }}

{{ define "content" }}
{{ if not (eq .Flash "") }}
    <div class="alert alert-danger" role="alert">
        {{ .Flash }}
    </div>
{{ end }}
<div class="container">
    <div class="row">
        <img src="/static/geegle.png" class= "rounded mx-auto d-block" style="max-width: 100%;height:auto">
    </div>
    <form
        class="md-form"
        enctype="multipart/form-data"
        method="post">

        <div class="custom-file">
            <input type="file" class="custom-file-input" id="file" name="file" required>
            <label class="custom-file-label" for="file">Choose file...</label>
            <div class="invalid-feedback">Invalid file</div>
        </div>
        <div style="display: hidden">Using experimental backend. Hold off from redteam operations for now as software may be vulnerable to buffer overflows</div>

        <button type="submit" class="btn btn-primary">submit</button>
    </form>

</div>
{{ end }}
